<div class="inicio">
    <div class="inicio__logo">
        <img src="../../../assets/logoS.png" alt="logo">
        <h1>Shopéame!</h1>
    </div>
    
    <nav class="inicio__navbar">
        <div class="inicio__navbar--caja" routerLink="/">
            <img src="../../../assets/Vector1.png" alt="home">
            <p>Home</p>
        </div>
        <a href=""></a>
        <div class="inicio__navbar--caja" routerLink="/main">
            <img src="../../../assets/Vector2.png" alt="products">
            <p>Prods.</p>
        </div>
    
        <div class="inicio__navbar--caja" routerLink="/gestion">
            <img src="../../../assets/Vector3.png" alt="gestion">
            <p>Gestión</p>
        </div>
    </nav>
</div>
