<div class="main">
    <div class="main__intro">
        <div class="main__intro__title">
            <h2>Bienvenido a Shopéame</h2>
            <p>¡¡atención: acciones limitadas debido a la restricción de la API raiz!!</p>
        </div>
        <div class="main__intro__questions">
            <div>
                <h4>¿Qué es <em>Shopéame</em>?</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque minima alias ut amet quas, in odio officia! Iure minima repudiandae, maxime placeat, exercitationem quibusdam veritatis inventore, dicta magnam quae debitis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur iste labore nisi itaque id deserunt voluptates nam saepe, quae dolorum explicabo ipsa exercitationem perspiciatis atque numquam eos ipsum expedita tenetur. </p>
            </div>
            <div>
                <h4>¿Para qué puedo usar <em>Shopéame</em>?</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque ab quis quidem illum ea, consequuntur adipisci cumque corrupti voluptatum pariatur neque iste numquam! Officia ad numquam aspernatur vel eligendi quibusdam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure fugit doloremque dicta aliquam sequi obcaecati sint accusantium, corporis nam dolorem iusto eveniet quas quae earum excepturi, illo autem unde explicabo! </p>
            </div>
            <div>
                <h4>¿Qué hacemos en <em>Shopéame</em>?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet repellendus consectetur nostrum veniam exercitationem cupiditate dolorem vero unde, officiis a fugit libero laborum voluptates quas at cum molestias sed labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae velit, molestiae fugit repellendus officiis vero eaque amet in debitis quas! Delectus, autem sapiente nisi ullam fugiat accusantium ad dolor quas. </p>
            </div>
            <div>
                <h4>¿Es seguro usar <em>Shopéame</em>?</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque ratione velit assumenda asperiores, blanditiis voluptate libero? Ullam nulla culpa nihil accusantium adipisci laborum optio harum, quos quidem deleniti fuga animi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem minus illo rem corporis consequatur, odio dolorem quia perferendis tempora doloremque? Reprehenderit, quidem minus a non voluptatem pariatur consectetur recusandae laborum. </p>
            </div>
        </div>
    </div>
</div>